<div class="container mt-5 d-flex justify-content-center .flex-column">

<div class="user-wrapper"><img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/604d40ac08cd1b201d16d508_Slice%202.jpg" loading="lazy" alt="" class="profil-pic">
    <h3 class="welcome-name">Welcome back <%=@current_user.first_name%></h3>

    <% if policy(Note).create? %>
      <%= link_to "+ Create Note", new_note_path, class:"button create-note-btn color-white w-button pl-4 pr-4" %>
    <% end %>
</div>


<% @notes.each do |note| %>
  <% if policy(note).edit? %>
    <%= link_to "Update", edit_note_path(note) %>
  <% end %>
<% end %>


</div>


<div class="container mb-5 pb-5">
  <div id="ycourse-list-wrapper">
  <% if @ycourses
  @ycourses_url.each do |ycourseID| %>
<img src="https://img.youtube.com/vi/<%=ycourseID%>/0.jpg" class="course-thumbnail shadow-lg">
<% end %>
<% end %>
</div>
</div>

</div>


