<div class="y-course-wrapper">
  <div class="half-screen youtube-video-wrapper">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/<%=@ycourseID%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="half-screen-right">
      <div class="notes-nav">
        <a href="#" class="link-block w-inline-block">
          <img src="https://uploads-ssl.webflow.com/604c98ba045b288eacd85143/6053826e1c18ee4b0d70de2b_back-icon.svg" loading="lazy" alt="" class="image-3"><span class="back-to-notes">Back to notes</span>
        </a>
        <div class="features-wrap">
          <a href="#" class="feature-link w-inline-block" id="favorite-note"><img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/heart_outline_ywffh9.svg" loading="lazy" alt=""></a>
          <a href="#" class="feature-link w-inline-block" id="share-note"><img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/share_outline_k2ehdj.svg" loading="lazy" alt=""></a>
          <a href="#" class="feature-link w-inline-block" id="delete-note"><img src="https://res.cloudinary.com/the-peacock/image/upload/v1616087286/trash_full_solpsf.svg" loading="lazy" alt=""></a>
        </div>
      </div>
      <div id="editorjs" class="container"></div>
  </div>
</div>
