body {
  width: 178px;
  height: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf3ff;
}

/*    text-decoration: none;*/

button#send-data {
  background-image: linear-gradient(264deg, #fbb479, #9f06ff);
  padding: 10px 50px;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  border: 0;
  cursor: pointer;
  color: white;
  outline: none !important;
}
