<div class="footer">
  <div class="container">
    <div class="w-layout footer-grid">
      <img alt="Unotes"
       width="150"
       src="https://res.cloudinary.com/dr1gk6cpf/image/upload/v1615903358/Unotes/604c9916f9cdceeb6154666b_logo-orange_sgokhs.svg" />
      <div class="footer-column">
        <div class="footer-title">Learning Path</div>
          <a href="#" class="footer-link">Front-End Developer</a>
          <a href="#" class="footer-link">Back-End Developer</a>
          <a href="#" class="footer-link">Data Analysis</a>
      </div>
      <div class="footer-column">
        <div class="footer-title">Help Menu</div>
          <a href="#" class="footer-link">About</a>
          <a href="#" class="footer-link">Features</a>
          <a href="#" class="footer-link">Works</a>
          <a href="#" class="footer-link">Careers</a>
      </div>
      <div class="footer-column">
        <div class="footer-title">Links</div>
          <a href="#" class="footer-link">Create an account</a>
          <a href="#" class="footer-link">Download Chrome extension</a>
          <a href="#" class="footer-link">Sign Up</a>
      </div>
    </div>
  </div>
</div>

