<!-- Hero -->
<div class="hero">
    <div class="container">
      <div class="w-layout-grid hero-grid">
        <div class="hero-content">
          <h1 class="heading">Learn to code on YouTube, for free.</h1>
          <p class="hero-paragraph">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer.</p>
          <a href="#" class="button w-button">Get Started</a>
          <div class="avatar-wrap">
            <div class="avatar"><%= image_tag 'eric.png', class:'image' %></div>
            <div class="avatar avatar-02"><%= image_tag 'chris.png', class:'image' %></div>
            <div class="avatar avatar-03"><%= image_tag 'tamara.png', class:'image' %></div>
            <div class="text-block">Join over <span class="text-span">4,000+</span> students</div>
          </div>
        </div>
        <div class="video-block">
          <a href="#" class="video-link w-inline-block w-lightbox"><%= image_tag 'Triangle.svg', class:'video-icon' %>
          </a>
        </div>
      </div>
    </div>
    <div class="bg-shape-80"></div>
    <div class="bg-shape-40"></div>
  </div>