.navbar {
  position: fixed;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 121px;
  margin-left: 5rem;
}
.navbar-brand {
  color: white;
}

.nav-link{
   margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
    transition: all 350ms ease;
    font-family: Muli, sans-serif;
    color: #001a49;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.03em;
}

.navigation-button-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 55vw;
  position: absolute;
}

.navigation-side-plain {
    display: flex;
    align-items: center;
    position:relative;
    width: 100%;
}

.left_menu {
    position:absolute;
    left:20px;
}


.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.button_unotes {
  display: flex;
  min-height: 58px;
  padding: 14px 48px;
  cursor: pointer;
  border-radius: 100px;
  align-items: center;
  background-image: linear-gradient(264deg, #fbb479, #9f06ff);
  color:white;
  font-weight: lighter;
  font-size: 14px;
}


.navigation-container-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: auto;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0px;
}


.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3f0a3d;
}


.w-nav-menu {
  position: relative;
  float: right;
}
